{{#tab-list action=(action 'onTabSelect')}}
  {{tab-list-item 'Option A' value='A'}}
  {{tab-list-item 'Option B' value='B'}}
  {{tab-list-item 'Option C' value='C'}}
  {{tab-list-item 'Option D' value='D'}}
{{/tab-list}}

<div class="alert alert-info">
    {{tabMessage}}
</div>
