<div class="row">
    <div class="col-xs-12">
        <h4>Project Setup</h4>
        <p>You will need to make the following changes to your project in order to use this addon.</p>
        <table class="table table-striped table-bordered">
            <tbody>
            <tr role="row">
                <th>Also Requires</th>
                <td>
                    {{#if model.requires}}
                        <p>This addon also requires the following from NSF Ember Commons. Their configuration has been merged and is included in the steps below.</p>
                        <ul>
                            {{#each model.requires as |item|}}
                                <li>{{item.name}}</li>
                            {{/each}}
                        </ul>
                    {{else}}
                        <p>No other NSF Ember Commons packages are required.</p>
                    {{/if}}
                </td>
            </tr>

            <tr role="row">
                <th>Bower</th>
                <td>
                    {{#if model.bowerToFormat}}
                        <p>You need to modify your <code>bower.json</code> manifest as follows. Be sure to run <code>bower install</code> afterwards.</p>
                        {{code-snippet rawSource=model.bowerToFormat language='json'}}
                    {{else}}
                        <p>No changes to your <code>bower.json</code> manifest are required.</p>
                    {{/if}}
                </td>
            </tr>

            <tr role="row">
                <th>Node</th>
                <td>
                    {{#if model.nodeToFormat}}
                        <p>You need to modify your <code>package.json</code> manifest as follows. Be sure to run <code>npm install</code> afterwards.</p>
                        {{code-snippet rawSource=model.nodeToFormat language='json'}}
                    {{else}}
                        <p>No changes to your <code>package.json</code> manifest are required.</p>
                    {{/if}}
                </td>
            </tr>

            <tr role="row">
                <th>Ember-CLI</th>
                <td>
                    {{#if model.appImportsToFormat}}
                        <p>You need to modify your <code>ember-cli-build.js</code> file as follows.</p>
                        {{code-snippet rawSource=model.appImportsToFormat language='javascript'}}
                    {{else}}
                        <p>No changes to your <code>ember-cli-build.js</code> file are required.</p>
                    {{/if}}
                </td>
            </tr>

            <tr role="row">
                <th>SVN External</th>
                <td>
                    {{#if model.svnExternalToFormat}}
                        <p>You need to add the following lines to your <code>svn.external</code> file.</p>
                        {{code-snippet rawSource=model.svnExternalToFormat}}
                    {{else}}
                        <p>No changes to your <code>svn.external</code> file are required.</p>
                    {{/if}}
                </td>
            </tr>
            </tbody>
        </table>

        {{#if model.changeLog}}
            <h4>Change Log</h4>
            <ul>
                {{#each-in model.changeLog as |key item|}}
                    <li><strong>{{key}}: </strong> {{item}}</li>
                {{/each-in}}
            </ul>
        {{/if}}
    </div>
</div>